.allDetail{

  width: 100%;
  min-height: 100vh;
  background: radial-gradient(circle, rgb(9, 78, 182) 0%, rgba(0, 0, 0, 0.738) 100%);
    
   
  
  
}
.pokeball {
    height: 200px;
  }
  
  .poke {
    display: flex;
    justify-content: center;
    align-items: center;
  }


.navBar {
    background-color: #007bff;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.buttonHome {
    cursor: pointer;
    color: #fff;
    background-color: transparent;
    border: none;
    font-family: "Rubik", sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.contGral {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    height: 100%;
    width: 100%;
}

.contRed {
    display: flex;
    background-color: #007bff;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
}

.contGris {
    display: flex;
    background-color: #f7f7f8;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.contIzq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    width: 380px;
    height: 470px;
    border-radius: 50px;
    box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.image {
    min-height: 250px;
    max-width: 250px;
    position: absolute;
    /* object-fit: cover; */
}

.circulo {
    background-color: rgba(217, 217, 217, 0.582);
    height: 250px;
    width: 250px;
    position: relative;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 35px;
    color: #5a5769;
  }
  
  .types {
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 17px;
    color: #000000;
  }
  
  .types div {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 25px;
    border-radius: 20px;
  }

  .id {
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #320dc5;
    
    
}

.contDer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    width: 380px;
    height: 470px;
    border-radius: 50px;
  }

  .alturaPeso {
    margin-top: 20px;
    display: flex;
    gap: 30px;
    
  }
  
  .medidas {
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #66625c;
    gap: 7px;
    background-color: #fff;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.33);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #f30909;
}

.number {
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 17px;
    color: #000000;
  }


